<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/schema/11.3.xsd"
        bootstrap="tests/bootstrap.php"
        cacheDirectory="var/cache/.phpunit"
        colors="true"
        controlGarbageCollector="true"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
        testdox="true"
>
    <testsuites>
        <testsuite name="Unit tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>
    </php>
    <source>
        <include>
            <directory>./src/</directory>
        </include>
    </source>
</phpunit>
